{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="jumbotron text-center hero-section">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to Re-Claim</h1>
    <p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    <p>
      <a href="{% url 'website:submit_claim' %}" class="btn btn-primary my-2">Submit Claim</a>
      <a href="#" class="btn btn-secondary my-2">About Us</a>
    </p>
  </div>
</section>

<section id="aboutus" class="about-us">
  <div class="container">
    <h3 class="section-heading">About <span class="slim-heading">Us</span></h3>
    <div class="row">
      <div class="col-md-7">
        <div class="about-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl libero, maximus vitae tellus pharetra, ultricies accumsan nisi. Praesent ut laoreet est. Ut porttitor dapibus porttitor. Ut pulvinar tellus eu dolor placerat mattis id nec tellus. Mauris ac lectus feugiat, ultrices augue id, commodo ante. Praesent leo leo, interdum feugiat sollicitudin vitae, auctor non velit. Pellentesque consectetur posuere turpis, quis dictum felis mattis vel. Nullam vestibulum in velit sit amet dictum. Mauris luctus elit nec quam mattis ultricies non eu lacus.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="about-img">
          <img class="img-fluid" src="{% static 'img/about-us1.jpg' %}">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="album py-5 bg-light testimonials">
  <div class="container">
    <h3 class="section-heading">What Our <span class="slim-heading">Clients Say</span></h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <h4>John Doe</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <h4>Jane Doe</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <h4>Jack Frost</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
